@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Lora:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    body {
      @apply bg-white text-gray-700 font-sans;
    }
    
    h1, h2, h3, h4, h5, h6 {
      @apply font-serif;
    }
}

::-webkit-scrollbar {
  display: none;
}